<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>All posts</h1>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/articles/back-to-school-deal-doc-quyen-online_thumbnail.jpg?v=1721990575" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="blog-details.html">Back to School - Exclusive online deal</a></h4>
          <p>Shocking deals up to 60% at Mykingdom on the occasion of back to school. Parents can buy high-quality backpacks, stationery and accessories at up to 60% discount right at your fingertips. The Back to School program takes place from July 25 - July 30, 2024 on the Mykingdom website, so quickly add the products your child loves to your cart.</p>
          <a href="blog-details.html" class="btn btn-main btn-main-sm">Read More</a>
        </div>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="blog-details.html">Discover 5 Mid-Autumn Festival corner decoration ideas for the festive season.</a></h4>
          <p>The Mid-Autumn Festival is getting closer and closer, parents and teachers are planning and coming up with ideas to decorate the Mid-Autumn corner at home and school to fully celebrate the festival. Today, let's explore with Mykingdom 5 unique and cozy Mid-Autumn decoration ideas.</p>
          <a href="blog-details.html" class="btn btn-main btn-main-sm">Read More</a>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/articles/trang-tri-goc-trung-thu_thumbnail.png?v=1723802966" alt="">
      </div>
    </div>
    
    
    <div class="row mb-40">
      <div class="col-md-6 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/articles/mykingdom-do-choi-van-dong-image.jpg?v=1723713082" alt="">
      </div>
      <div class="col-md-6 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="blog-details.html">Top 10 active toys to help children burn energy while staying at home</a></h4>
          <p>The Covid-19 epidemic situation is still very complicated across the country. Therefore, although it is summer vacation, children still have to stay at home and limit going out to ensure safety. However, many parents are in a passive position when working and looking after their children. Moreover, parents do not know what to let their children play so that they do not feel bored and do not depend on phones or TVs all day but still improve their health every day.
In the article below, Mykingdom will suggest to parents attractive, durable and beautiful exercise toys for children to play comfortably and healthily at home.</p>
          <a href="blog-details.html" class="btn btn-main btn-main-sm">Read More</a>
        </div>
      </div>
    </div>
    
    <div class="row mb-40">
      <div class="col-md-6 order-md-1 order-2 align-self-center text-center text-md-left">
        <div class="content">
          <h4 class="subheading"><a class="link-title" href="blog-details.html">Pop Mart launches extremely new series Dimoo: By Your Side.</a></h4>
          <p>On June 14, 2024, Pop Mart officially introduced a new collection called Dimoo: By Your Side. Completely different from previous themes, which focused on Pop Mart's famous character Dimoo, this collection focuses on the cloud above the boy's head with many different emotions, both positive and negative. Without making you curious any more, let's find out more details through this article.</p>
          <a href="blog-details.html" class="btn btn-main btn-main-sm">Read More</a>
        </div>
      </div>
      <div class="col-md-6 order-md-2 order-1 text-center mb-5 mb-lg-0">
        <img class="img-fluid" src="https://www.mykingdom.com.vn/cdn/shop/articles/dimoo_thumbnail.jpg?v=1718362429" alt="">
      </div>
    </div>
    
    
  </div>
</section>