<div class="container mt-5">
    <h1>Edit Category</h1>
    <form action="/category/edit/{{category._id}}" method="POST">
      <div class="mb-3">
        <label for="display" class="form-label"> Name</label>
        <input type="text" class="form-control" id="name" name="name" value="{{category.name}}" required>
      </div>
      <div class="mb-3">
        <label for="slug" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" value="{{category.description}}" required>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="/category" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
